<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
    {% include 'header.html' %}
    <body {% if mode == 'dark' %}class="text-white bg-secondary"{% endif %}>
        <div class="card {% if mode == 'dark' %}text-white bg-dark{% endif %} mb-3" style="width:90%; left: 5%; top:5px;">
            <div class="card-header">
                StreetPass Shop Store!
                <h3>Download the UniStore file <a href="INSERT_UNISTORE_LINK_HERE">here</a>!</h3>
                <div id="card-header" class="form-text">The UniStore updates every three hours.</div>
                <h3>In need of support? Check out our Discord <a href="https://discord.gg/INSERT_DISCORD_HERE">here</a>!</h3>
            </div>
            <div class="card-body">
            <form id="uploadForm" action="/uploadJson" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="mb-3">
                    <label for="streetPassFile" class="form-label">StreetPass Data Uploader</label>
                    <input type="file" class="form-control" id="streetPassFile" name="streetPassFile" aria-describedby="streetPassFileHelp" required>
                    <div id="streetPassFileHelp" class="form-text">Upload your StreetPass data extracted from the GodMode9 script here.</div>
                </div>
                <!-- Add a hidden input field to store the file hash -->
                <input type="hidden" id="fileHash" name="fileHash" value="">
                <input type="hidden" id="token" name="token" value="INSERT_TOKEN_HERE">
                <hr>
                <label for="extrainfo" class="form-label">Extra info</label>
                <div class="mb-3">
                    <div id="streetPassFileHelp" class="form-text">Optionally put any extra info that you want to show with the StreetPass data in the shop here!</div>
                    <textarea class="form-control" id="extraInfo" name="extraInfo"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                    <label class="form-check-label" for="exampleCheck1">I agree to the <a href="toc.html">Terms</a> and <a href="toc.html">Conditions</a> that I probably did not read.</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
    </body>
    <footer>Made by <a href="https://github.com/MattTheTekie">MattTheTekie</a> & <a href="https://github.com/Dakotath">Dakotath</a></footer>
<script>
    function validateForm() {
        var fileInput = document.getElementById('streetPassFile');
        var fileSize = fileInput.files[0].size / (1024 * 1024); // Convert to MB
        if (fileSize < 54 || fileSize > 56) {
            alert('This is NOT StreetPass data. Stop using this site as a file host, or risk getting IP blocked!');
            return false; // Prevent form submission
        }

        var tosCheckbox = document.getElementById('exampleCheck1');
        if (!tosCheckbox.checked) {
            alert('You must agree to the Terms and Conditions.');
            return false; // Prevent form submission
        }

        // Calculate SHA-256 hash of the uploaded file and set it in the hidden input field
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function(event) {
            var fileContent = event.target.result;
            var hash = CryptoJS.SHA256(fileContent).toString(CryptoJS.enc.Hex);
            document.getElementById('fileHash').value = hash;

            // Now trigger the form submission
            document.getElementById('uploadForm').submit();
        };
        reader.readAsBinaryString(file);

        return false; // Prevent default form submission
    }
</script>
</html>
