<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body {% if mode == 'dark' %}class="text-white bg-secondary"{% endif %}>
        <div class="card {% if mode == 'dark' %}text-white bg-dark{% endif %} mb-3" style="width:90%; left: 5%; top:5px;">
            <div class="card-header">
                StreetPass Shop TOC
            </div>
                <hr>
                <h1>TOC</h1>
                <div class="mb-3">
                    <p>I will NOT upload anything other then StreetPass data, and will NOT use this as a filehost!<p>
            </div>
            <footer>Made by <a href="https://github.com/MattTheTekie">MattTheTekie</a> & <a href="https://github.com/Dakotath">Dakotath</a></footer>
        </div>
    </body>
</html>
